<aside>
  <p class="intro">{{ site.subtitle }}</p>
  <a class="skip-link visuallyhidden focusable" href="#main">Skip to Main Content</a>
  <nav class="sidebar-nav" role="navigation">
    <ul>
      {% for link in site.navigation %}
        {% if link.internal == true %}
          <li><a href="{{ site.baseurl }}/{{ link.url }}">{{ link.text }}</a></li>
          <a href="#link1">Link 1</a>
          <a href="#link2">Link 2</a>
          <a href="#link3">Link 3</a>
          <a href="#link4">Link 4</a>
        {% else %}
          <li><a href="{{ link.url }}">{{ link.text }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</aside>
