<aside>
  <p class="intro">{{ site.subtitle }}</p>
  <a class="skip-link visuallyhidden focusable" href="#main">Skip to Main Content</a>
  <nav class="sidebar-nav" role="navigation">
  <a href="https://khandoker09.github.io/sm-wiki/">Home</a>
    <nav class="subnav">
      <button class="subnavbtn"><a href="/sm-wiki/data_collection_tools">Data Collection Tools <i class="fa fa-caret-right"></i></button>
      <div class="subnav-content">
        <a href="/sm-wiki/insta_tools/">Instagram Tools</a>
        <a href="/sm-wiki/twitter_tools/">Twitter Tools</a>
        <a href="/sm-wiki/wiki_tools/">Wikipedia Tools</a>
        <a href="/sm-wiki/fb_tools/">Facebook Tools</a>
        <a href="/sm-wiki/youtube_tools/">Youtube Tools</a>
        <a href="/sm-wiki/insta_tools/">Instagram Tools</a>
        <a href="/sm-wiki/General_News_Scrapers/">General News Scraper Tools</a>
        <a href="/sm-wiki/Miscellaneous_tools/">Miscellaneous Tools</a>
     </div>
     <div class="subnav">
       <button class="subnavbtn"><a href="/sm-wiki/tutorials">Tutorials<i class="fa fa-caret-down"></i></button>
       <div class="subnav-content">
        <a href="/sm-wiki/Shiny_Tutorial/">Shiny Tutorial</a>
        <a href="/sm-wiki/wiki_maintain/">Wikipedia Maintain</a>
      </div>
     <div class="subnav">
     <a href="https://github.com/Leibniz-HBI/Social-Media-Observatory/wiki/Ethics---Legal/">Ethics/Legal</a>
     <a href="https://github.com/Leibniz-HBI/Social-Media-Observatory/wiki/Knowledge-Base-%26amp%3B-Case-Studies/">Knoledge Base and Case Studies</a>
     <a href="/sm-wiki/datasets/">Datasets</a>
  </nav>
</aside>
